* {
    font-family: 'Pacifico', cursive;
    color: #b1b575;
}

body {
    background-color: rgb(13, 13, 13);
    text-align: center;
}

h1 {
    font-size: 80px;
}

h2 {
    margin-top: -40px;
}

button {
    margin-right: 1000px;
    padding: 5px;
    border-radius: 20px;
    background-color: #ea1763;
    border-color: #b1b575;
    font-size: 18px;
}

button:hover {
    cursor: pointer;
}

#roses {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.cell {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 1px solid white;
    text-align: center;
}

.wide-cell {
    height: 50px;
    width: 100px;
    display: inline-block;
    border: 1px solid white;
    text-align: center;
}

#current-guess {
    width: 255px;
    height: 50px;
    border: 1px solid white;
}